.container-fluid{
  text-align: center;
  vertical-align: center;
  /*horiz-align: center;*/
  padding-top: 8px;
}


.navbar-brand {
  font-size: 35px;
}

.nav-item{
  font-size: large;
}

.nav-link {
  color: white;
}

#todoContainer{
  font-size: xx-large;
  text-align: center;
}

.todoItem{
  font-size: 20px;
  margin-left: 10%;
  margin-bottom: 30px;
}